<?php
/** @var \Magento\Framework\View\Element\Template $block */
/** @var \Magento\Framework\Escaper $escaper */
/** @var \Spaaza\Demo\ViewModel\CustomerAccount $viewModel */
$viewModel = $block->getData('view_model');
?>
<div class="field choice">
    <input type="hidden" name="spaaza_opt_in" value="0"/>
    <input type="checkbox"
           name="spaaza_opt_in"
           title="<?= $block->escapeHtmlAttr(__('Opt in to the Spaaza Loyalty programme')) ?>"
           value="1"
           id="spaaza_opt_in_checkbox"
           <?php if ($viewModel->getCurrentOptInValue()): ?>checked="checked"<?php endif; ?>
           class="checkbox">
    <label for="spaaza_opt_in_checkbox" class="label">
        <span><?= $block->escapeHtml(__('Opt in to the Spaaza Loyalty programme')) ?></span>
    </label>

</div>
