<?php
/** @var \Magento\Framework\View\Element\Template $block */
/** @var \Magento\Framework\Escaper $escaper */
$registerBlock = $block->getLayout()->getBlock('customer_form_register');
if (!$registerBlock instanceof \Magento\Customer\Block\Form\Register) {
    $registerBlock = $block->getParentBlock();
}
$formData = $registerBlock instanceof \Magento\Customer\Block\Form\Register
    ? $registerBlock->getFormData()
    : null;
?>
<div class="field">
    <label for="spaaza_referral_code" class="label">
        <span><?= __('Spaaza Referral Code') ?></span>
    </label>
    <div class="control">
        <input type="text"
               name="spaaza_referral_code"
               autocomplete="off"
               id="spaaza_referral_code"
               value="<?= $escaper->escapeHtmlAttr($formData ? $formData->getData('spaaza_referral_code') : '') ?>"
               data-validate="{minlength: 6, maxlength: 6}"
               title="Email"
               class="input-text"
        >
    </div>
</div>
