<?php /** @var \Spaaza\Demo\Block\Checkout\Cart\Vouchers $block */ ?>
<h2>Vouchers</h2>

<style type="text/css">
    .table .actions ul {
        list-style: none;
        padding-left: 0;
    }
    .table .actions ul li {
        margin-left: 0;
        padding-left: 0;
    }
</style>

<script src="//unpkg.com/alpinejs" defer></script>

<div x-data="<?= $block->escapeHtmlAttr(
    json_encode(
        array_merge(
            $block->getVouchersData(),
            [
                'showBasketCampaignVouchers' => false
            ]
        )
    )
) ?>">
    <label>
        <input type="checkbox" value="1" x-model="showBasketCampaignVouchers">
        Show basket promotion vouchers
    </label>
    <table class="data table">
        <thead>
            <tr>
                <th>Voucher</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Claimed</th>
                <th>Locked</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <template x-for="voucher in vouchers">
                <tr x-show="showBasketCampaignVouchers || voucher.campaign_type !== 'basket'">
                    <td>
                        <span x-text="voucher.key"></span><br>
                        <span x-text="voucher.text"></span>
                    </td>
                    <td x-text="voucher.type"></td>
                    <td x-text="voucher.amount"></td>
                    <td x-text="voucher.is_claimed ? '✔' : ''"></td>
                    <td x-text="voucher.is_locked ? '✔' : ''"></td>
                    <td class="actions">
                        <ul>
                            <template x-for="action in voucher.actions">
                                <li>
                                    <a :href="action.url" x-text="action.title"></a>
                                </li>
                            </template>
                        </ul>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
</div>
